:root {
    --black: #000000;
    --white: #F9F9F9;
    --blue: #096092;
    --dark-grey: #485A64;
    --light-grey: #CDD2D4;
    --light-blue: #78B3BB;
}

@font-face {
    font-family: 'loraitalic';
    src: url('lora-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('lora-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'loraregular';
    src: url('lora-variablefont_wght-webfont.woff2') format('woff2'),
         url('lora-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
   box-sizing: border-box;
}

body {
    align-items: center;
    background-color: var(--white);
    color: var(--black);
    display: flex;
    justify-content: center;
    }
    
header {
    text-align: center;
    max-width: 100%;
    margin-inline: 31rem;  
    }
    
h1 {
    font-family: 'epilouge', sans-serif;
    font-size: 24px;
    margin-inline: 4rem;
    margin-top: 2rem;
    }
    
h2 {
    font-family: 'aleo', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-size: 20px;
    margin-inline: 1.25rem;
    }
    
h3 {
    font-family: 'loraregular', 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 18px;
    }
    
p {
    font-family: 'loraregular', 'Times New Roman', Times, serif;
    font-size: 17px;
    line-height: 1.5;
    margin-inline: 10rem;
    }
    
nav {
    align-items: center;
    background-color: var(--blue);
    color: var(--light-grey);
    display: flex;
    font-size: 12px;
    justify-content: space-around;
    max-width: 100%;
    }
    
footer {
    align-items: center;
    background-color: var(--blue);
    clear: both;
    display: flex;
    font-size: 12px;
    justify-content: space-around;
    max-width: 100%;
    margin-top: 2rem;
    margin-bottom: 0;
    }
    
.case {
    color: var(--blue);
    text-align: center;
    margin-inline: auto;
    margin-bottom: 0;
    margin-top: 2rem;
    }
    
.case a:hover, .case a:visited {
    color: var(--dark-grey);
    }
    
.heading {
    margin-top: 2rem;
    margin-inline: 9rem;
    }
    
.img1 {
    display: block;
    height: 290px;
    margin-inline: auto;
    width: auto;
    }
    
.img2 {
    display: block;
    height: 750px;
    margin-inline: auto;
    margin-top: 1.75rem;
    margin-bottom: 1.25rem;
    width:auto; 
    }
    
.img3 {
    display: block;
    height: 550px;
    margin-inline: auto;
    width:auto; 
    }
    
.img4 {
    display: block;
    height: 400px;
    margin-inline: auto;
    width:auto; 
    }
    
.img5 {
    display: block;
    height: 550px;
    margin-inline: auto;
    width:auto; 
    }
    
.img6 {
    display: block;
    height: 500px;
    margin-inline: auto;
    width: auto;
    }
    
.img7 {
    display: block;
    height: 220px;
    margin-inline: auto;
    width: auto;
    }
    
.lantern {
    background-color: var(--light-grey);
    color: var(--blue);
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-inline: auto;
    padding-block: 0.1rem;
    width: 490px;
    }
    
.malloo {
    background-color: var(--light-grey);
    color: var(--blue);
    margin-bottom: 2rem;
    margin-inline: auto;
    margin-top: 2rem;
    padding-block: 0.1rem;
    width: 490px;
    }

.studies {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
    
.phone {
    display: block;
    height: 300px;
    margin-inline: -64px;
    width:auto;
    }
    
.project {
    margin-top: 0;
    }
    
.resume {
    display: block;
    height: 1000px;
    margin-bottom: 1rem;
    margin-top: 3rem;
    margin-inline: auto;
    width: auto;
    }

.screen {
    display: block;
    height: 300px;
    margin-inline: -81px;
    width:auto; 
    }
    
.study {
    color: var(--dark-grey);
    }
    
.nav a:hover, .nav a:visited {
    color: var(--light-blue);
    }
    
.nav {
    font-size: 17px;
    color: var(--light-grey);
    }
    
.footer a:hover, .footer a:visited {
    color: var(--light-blue);
    }
    
.footer {
    font-size: 12px;
    color: var(--light-grey);
    }
    
.contact {
    font-size: 12px;
    color: var(--light-grey);
    }

.wrapper {
    max-width: 1550px;
    }
    
@media screen and (max-width: 1280px) {
    .wrapper {
        max-width: 1300px;
    }

    header {
        margin-inline: 22rem;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper {
        max-width: 1100px;
    }

    header {
        margin-inline: 14rem;
    }

    .malloo, .lantern {
        width: 350px;
    }

    .phone {
        height: 250px;
        margin-inline: -84px;
    }
    
    .screen {
        height: 250px;
        margin-inline: -94px;
    }

    .resume {
        height: 850px;
    }

    .img1, .img3, .img4, .img5, .img7 {
        height: auto;
        width: 70%;
    }
    .img2 {
        height: auto;
        width: 600px;
    }
}

@media screen and (max-width: 800px) {
    .wrapper {
        width: 900px;
    }
    
}

@media screen and (max-width: 370px) {
    .wrapper {
        max-width: 360px;
    }

    .malloo, .lantern {
        width: 300px;
    }

    .img1, .img2, .img3, .img4, .img5, .img6, .img7 {
        height: auto;
        width: 90%;
    }

    .footer, .contact {
        font-size: 10px;
    }

    h3, .nav, .study {
        font-size: 16px;
    }

    p {
        font-size: 15px;
        line-height: 1.4;
    }

    h2, .heading {
        font-size: 18px;
    }

    h1, .name {
        font-size: 22px;
    }

    .phone {
        margin-inline: -26px;
    }

    .screen {
        margin-inline: -23px;
    }
    }

@media screen and (max-width: 500px) {
    .wrapper {
        width: 420px;
    }
    
}

