:root {
    --black: #000000;
    --white: #F9F9F9;
    --blue: #096092;
    --dark-grey: #485A64;
    --light-grey: #CDD2D4;
    --light-blue: #78B3BB;
}

@font-face {
    font-family: 'loraitalic';
    src: url('lora-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('lora-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'loraregular';
    src: url('lora-variablefont_wght-webfont.woff2') format('woff2'),
         url('lora-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
   box-sizing: border-box;
}

body {
    align-items: center;
    background-color: var(--white);
    color: var(--black);
    display: flex;
    justify-content: center;
}

header {
    text-align: center;
    max-width: 100%;  
}

h1 {
    font-family: 'epilouge', sans-serif;
    font-size: 24px;
    margin-inline: 1rem;
}

h2 {
    font-family: 'aleo', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-size: 20px;
    margin-inline: 1.25rem;
}

h3 {
    font-family: 'loraregular', 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 17px;
}

p {
    font-family: 'loraregular', 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.4;
    margin-inline: 1.5rem;
}

nav {
    align-items: center;
    background-color: var(--blue);
    color: var(--light-grey);
    display: flex;
    font-size: 12px;
    justify-content: space-around;
    max-width: 100%;
}

footer {
    align-items: center;
    background-color: var(--blue);
    display: flex;
    font-size: 10px;
    justify-content: space-around;
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 0;
}

.case {
    color: var(--blue);
    text-align: center;
    margin-inline: auto;
    margin-bottom: 0;
    margin-top: 2rem;
}

.case a:hover, .case a:visited {
    color: var(--dark-grey);
}

.heading {
    margin-top: 2rem;
}

.img1 {
    display: block;
    height: 100px;
    margin-inline: auto;
    width: auto;
}

.img2 {
    display: block;
    height: 425px;
    margin-inline: auto;
    margin-bottom: 1.25rem;
    width:auto; 
}

.img3 {
    display: block;
    height: 200px;
    margin-inline: auto;
    width:auto; 
}

.img4 {
    display: block;
    height: 150px;
    margin-inline: auto;
    width:auto; 
}

.img5 {
    display: block;
    height: 200px;
    margin-inline: auto;
    width:auto; 
}

.img6 {
    display: block;
    height: 300px;
    margin-inline: auto;
    width: auto;
}

.img7 {
    display: block;
    height: 75px;
    margin-inline: auto;
    width: auto;
}

.lantern {
    background-color: var(--light-grey);
    color: var(--blue);
    margin-top: 2rem;
    margin-inline: auto;
    padding-block: 0.1rem;
    width: 350px;
}

.malloo {
    background-color: var(--light-grey);
    color: var(--blue);
    margin-inline: auto;
    margin-top: 2rem;
    padding-block: 0.1rem;
    width: 350px;
}

.phone {
    display: block;
    height: 170px;
    margin-inline: auto;
    width:auto;
}

.project {
    margin-top: 0;
}

.resume {
    display: block;
    height: 400px;
    margin-bottom: 1rem;
    margin-inline: auto;
    width: auto;
}
.screen {
    display: block;
    height: 160px;
    margin-inline: auto;
    width:auto; 
}

.study {
    color: var(--dark-grey);
}

.nav a:hover, .nav a:visited {
    color: var(--light-blue);
}

.nav {
    font-size: 17px;
    color: var(--light-grey);
}

.footer a:hover, .footer a:visited {
    color: var(--light-blue);
}

.footer {
    font-size: 12px;
    color: var(--light-grey);
}

.contact {
    font-size: 12px;
    color: var(--light-grey);
}
.wrapper {
    max-width: 390px;
}
